.banner {
  background-image: url("../../images/background.png");
  background-size: cover;
  background-position: center;
  padding: 200px 0px;
  color: white;
  object-fit: cover;
}

.btn-banner {
  background-color: #1EDD88;
  padding: 16px 36px;
  border-radius: 40px;
  color: white;
}

.btn-banner:hover {
  background-color: #1f441e;
}

.container p {
  margin-bottom: 30px;
}
